.album-select[data-v-836e1056] {
  position: relative;
}
.album-select .list-group[data-v-836e1056] {
  position: absolute;
  width: 300px;
  left: -25px;
  top: 35px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.audio-upload-list[data-v-f4fc7896] {
  margin: -73px -20px;
}
.audio-upload-list .list-group-item[data-v-f4fc7896] {
  position: relative;
}
.audio-upload-list .list-group-item .progress[data-v-f4fc7896] {
  border-radius: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
}
.upload-form input[data-v-f4fc7896] {
  display: none;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9hc3NldHMvY29tcG9uZW50cy93aWRnZXRzL2FsYnVtLXNlbGVjdC52dWUiLCJ3ZWJwYWNrOi8vL2FsYnVtLXNlbGVjdC52dWUiLCJ3ZWJwYWNrOi8vLy4vYXNzZXRzL2NvbXBvbmVudHMvYXVkaW8vdXBsb2FkLnZ1ZSIsIndlYnBhY2s6Ly8vdXBsb2FkLnZ1ZSJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFpQ0E7RUFDSTtBQ2hDSjtBRCtCQTtFQUlRO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7QUNoQ1I7O0FDb01BO0VBQ0k7QUM1TUo7QUQyTUE7RUFJUTtBQzVNUjtBRHdNQTtFQU9ZO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0FDNU1aO0FEaU5BO0VBRVE7QUNoTlIiLCJmaWxlIjoiYXVkaW8uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuLmFsYnVtLXNlbGVjdCB7XG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xuXG4gICAgLmxpc3QtZ3JvdXAge1xuICAgICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgICAgIHdpZHRoOiAzMDBweDtcbiAgICAgICAgbGVmdDogLTI1cHg7XG4gICAgICAgIHRvcDogMzVweDtcbiAgICAgICAgYm9yZGVyOiAxcHggc29saWQgcmdiYSgwLCAwLCAwLCAuMTI1KTtcbiAgICB9XG59XG4iLCIuYWxidW0tc2VsZWN0IHtcbiAgcG9zaXRpb246IHJlbGF0aXZlO1xufVxuLmFsYnVtLXNlbGVjdCAubGlzdC1ncm91cCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgd2lkdGg6IDMwMHB4O1xuICBsZWZ0OiAtMjVweDtcbiAgdG9wOiAzNXB4O1xuICBib3JkZXI6IDFweCBzb2xpZCByZ2JhKDAsIDAsIDAsIDAuMTI1KTtcbn1cbiIsIlxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuLmF1ZGlvLXVwbG9hZC1saXN0IHtcbiAgICBtYXJnaW46IC03M3B4IC0yMHB4O1xuXG4gICAgLmxpc3QtZ3JvdXAtaXRlbSB7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcblxuICAgICAgICAucHJvZ3Jlc3Mge1xuICAgICAgICAgICAgYm9yZGVyLXJhZGl1czogMDtcbiAgICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICAgICAgbGVmdDogMDtcbiAgICAgICAgICAgIHRvcDogMDtcbiAgICAgICAgICAgIG9wYWNpdHk6IC4xO1xuICAgICAgICB9XG4gICAgfVxufVxuXG4udXBsb2FkLWZvcm0ge1xuICAgIGlucHV0IHtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG59XG4iLCIuYXVkaW8tdXBsb2FkLWxpc3Qge1xuICBtYXJnaW46IC03M3B4IC0yMHB4O1xufVxuLmF1ZGlvLXVwbG9hZC1saXN0IC5saXN0LWdyb3VwLWl0ZW0ge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG4uYXVkaW8tdXBsb2FkLWxpc3QgLmxpc3QtZ3JvdXAtaXRlbSAucHJvZ3Jlc3Mge1xuICBib3JkZXItcmFkaXVzOiAwO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGhlaWdodDogMTAwJTtcbiAgd2lkdGg6IDEwMCU7XG4gIGxlZnQ6IDA7XG4gIHRvcDogMDtcbiAgb3BhY2l0eTogMC4xO1xufVxuLnVwbG9hZC1mb3JtIGlucHV0IHtcbiAgZGlzcGxheTogbm9uZTtcbn1cbiJdLCJzb3VyY2VSb290IjoiIn0=*/