.audio-upload-list[data-v-f4fc7896] {
  margin: -73px -20px;
}
.audio-upload-list .list-group-item[data-v-f4fc7896] {
  position: relative;
}
.audio-upload-list .list-group-item .progress[data-v-f4fc7896] {
  border-radius: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.1;
}
.upload-form input[data-v-f4fc7896] {
  display: none;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9hc3NldHMvY29tcG9uZW50cy9hdWRpby91cGxvYWQudnVlIiwid2VicGFjazovLy91cGxvYWQudnVlIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQStLQTtFQUNJO0FDOUtKO0FENktBO0VBSVE7QUM5S1I7QUQwS0E7RUFPWTtFQUNBO0VBQ0E7RUFDQTtFQUNBO0VBQ0E7RUFDQTtBQzlLWjtBRG1MQTtFQUVRO0FDbExSIiwiZmlsZSI6ImF1ZGlvLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIlxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuLmF1ZGlvLXVwbG9hZC1saXN0IHtcbiAgICBtYXJnaW46IC03M3B4IC0yMHB4O1xuXG4gICAgLmxpc3QtZ3JvdXAtaXRlbSB7XG4gICAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcblxuICAgICAgICAucHJvZ3Jlc3Mge1xuICAgICAgICAgICAgYm9yZGVyLXJhZGl1czogMDtcbiAgICAgICAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgICAgICAgICAgIGhlaWdodDogMTAwJTtcbiAgICAgICAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgICAgICAgbGVmdDogMDtcbiAgICAgICAgICAgIHRvcDogMDtcbiAgICAgICAgICAgIG9wYWNpdHk6IC4xO1xuICAgICAgICB9XG4gICAgfVxufVxuXG4udXBsb2FkLWZvcm0ge1xuICAgIGlucHV0IHtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG59XG4iLCIuYXVkaW8tdXBsb2FkLWxpc3Qge1xuICBtYXJnaW46IC03M3B4IC0yMHB4O1xufVxuLmF1ZGlvLXVwbG9hZC1saXN0IC5saXN0LWdyb3VwLWl0ZW0ge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG59XG4uYXVkaW8tdXBsb2FkLWxpc3QgLmxpc3QtZ3JvdXAtaXRlbSAucHJvZ3Jlc3Mge1xuICBib3JkZXItcmFkaXVzOiAwO1xuICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gIGhlaWdodDogMTAwJTtcbiAgd2lkdGg6IDEwMCU7XG4gIGxlZnQ6IDA7XG4gIHRvcDogMDtcbiAgb3BhY2l0eTogMC4xO1xufVxuLnVwbG9hZC1mb3JtIGlucHV0IHtcbiAgZGlzcGxheTogbm9uZTtcbn1cbiJdLCJzb3VyY2VSb290IjoiIn0=*/