.upload-form[data-v-f4fc7896] {
  padding: 30px 0;
}
.upload-form p[data-v-f4fc7896] {
  margin: 5px;
}
.upload-form input[data-v-f4fc7896] {
  display: none;
}
.upload-form .file-select[data-v-f4fc7896] {
  display: inline-block;
  margin-top: 30px;
}


/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9hc3NldHMvY29tcG9uZW50cy9hdWRpby91cGxvYWQudnVlIiwid2VicGFjazovLy91cGxvYWQudnVlIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQTRDQTtFQUNJO0FDM0NKO0FEMENBO0VBSVE7QUMzQ1I7QUR1Q0E7RUFRUTtBQzVDUjtBRG9DQTtFQVlRO0VBQ0E7QUM3Q1IiLCJmaWxlIjoiYXVkaW8uY3NzIiwic291cmNlc0NvbnRlbnQiOlsiXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cblxuXG5cbi51cGxvYWQtZm9ybSB7XG4gICAgcGFkZGluZzogMzBweCAwO1xuXG4gICAgcCB7XG4gICAgICAgIG1hcmdpbjogNXB4O1xuICAgIH1cblxuICAgIGlucHV0IHtcbiAgICAgICAgZGlzcGxheTogbm9uZTtcbiAgICB9XG5cbiAgICAuZmlsZS1zZWxlY3Qge1xuICAgICAgICBkaXNwbGF5OiBpbmxpbmUtYmxvY2s7XG4gICAgICAgIG1hcmdpbi10b3A6IDMwcHg7XG4gICAgfVxufVxuIiwiLnVwbG9hZC1mb3JtIHtcbiAgcGFkZGluZzogMzBweCAwO1xufVxuLnVwbG9hZC1mb3JtIHAge1xuICBtYXJnaW46IDVweDtcbn1cbi51cGxvYWQtZm9ybSBpbnB1dCB7XG4gIGRpc3BsYXk6IG5vbmU7XG59XG4udXBsb2FkLWZvcm0gLmZpbGUtc2VsZWN0IHtcbiAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICBtYXJnaW4tdG9wOiAzMHB4O1xufVxuIl0sInNvdXJjZVJvb3QiOiIifQ==*/